@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../media/fonts/roboto-light.eot");
  src: url("../media/fonts/roboto-light.woff") format('woff');
  src: url("../media/fonts/roboto-light.ttf") format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../media/fonts/roboto-regular.eot");
  src: url("../media/fonts/roboto-regular.woff") format('woff');
  src: url("../media/fonts/roboto-regular.ttf") format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../media/fonts/roboto-medium.eot");
  src: url("../media/fonts/roboto-medium.woff") format('woff');
  src: url("../media/fonts/roboto-medium.ttf") format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../media/fonts/roboto-bold.eot");
  src: url("../media/fonts/roboto-bold.woff") format('woff');
  src: url("../media/fonts/roboto-bold.ttf") format('truetype');
}
@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: url("../media/fonts/OpenSansRegular.eot");
  src: url("../media/fonts/OpenSansRegular.woff") format('woff');
  src: url("../media/fonts/OpenSansRegular.ttf") format('truetype');
}
