#section5 {
  padding: 4em 0 3em;
  background-image: url("../media/images/section4/speed-ever.png");
  background-size: cover;
  background-position: center center;
}
#section5 h2 {
  text-align: center;
}
#section5 h4 {
  text-align: center;
  margin: 1em 0 1em;
}
#section5 .columns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
#section5 .columns-wrapper .arrow-image {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  margin: auto;
  width: 280px;
  opacity: 0.6;
}
#section5 .column {
  max-width: 555px;
  width: 100%;
  margin: auto;
}
#section5 .column .column-title {
  color: #292929;
  font-size: 5.18em;
  font-family: OpenSans;
  line-height: 0.95;
  font-weight: 500;
  margin: 0.5em 0 0.5em 0.3em;
}
#section5 .column .column-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: center;
}
#section5 .column .column-block img {
  margin-right: 2em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
#section5 .column .column-block strong {
  font-weight: bold;
}
#section5 .column .column-block:nth-of-type(1) {
  color: #b7bac9;
  font-weight: 600;
}
#section5 .column .column-block:nth-of-type(1) img {
  max-width: 106px;
}
#section5 .column .column-block,
#section5 .column .column-text {
  font-size: 24px;
  line-height: 1.4;
  color: #303b47;
}
#section5 .column .column-text {
  font-weight: 400;
  margin: 2em 0;
}
#section5 .column .column-text strong {
  color: #6793bd;
}
#section5 .column.second .column-text strong {
  color: #5f85ab;
}
