$color_brand_white = rgb(255,255,255)
$color_brand_black = rgb(0,0,0)
$color_brand_grey = rgb(83,94,105)
$color_brand_light_grey = rgb(232,233,235)
$color_brand_medium_grey = rgb(41, 41, 41)
$color_brand_dark_grey = rgb(26, 27, 28)
$color_brand_blue = rgb(103,147,189)
$color_section_heading = rgb(41,41,41)
$color_section_orange = rgb(245,136,0)

