@import colors

#footer-section
	display -webkit-box
	display -ms-flexbox
	display flex
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	-webkit-box-pack justify
	-ms-flex-pack justify
	justify-content space-between
	height 101vh
	.map
		width 50%
		overflow hidden
		iframe
			width 100%
			height 100%
	.contact-wrap
		background $color_brand_medium_grey
		color $color_brand_white
		width 50%
		height 100%
		display -webkit-box
		display -ms-flexbox
		display flex
		-webkit-box-align center
		-ms-flex-align center
		align-items center
		padding 0 6.9%
		.contacts
			.header
				font-weight 600
				font-size 1.78em
				color white
				margin-bottom 1.9em
			.phone
				font-size 2em
				font-weight 300
				letter-spacing -0.01em
				margin-bottom 1.9em
			.address
				font-weight 300
				font-size 1.1em
				margin-bottom 1.9em
				line-height: 1.5em;
			.email
				font-weight 300
				font-size 1.12em
				color #ff8562
				text-decoration none
			.site
				font-size 1.12em
				font-weight 300
				margin-top 2.52em

