@import "colors.styl"

#section1
	background $color_brand_black url("../media/images/section1/spinner-white.gif") no-repeat center center
	text-align center
	.logo
		display none
	.video-bg
		position absolute
		width 100%
		video
			width 100%
	.content-wrapper
		padding 11.5em 0.5em 0 0.5em
		color white
		font-weight 400
		position relative
		h1
			&.header
				font-size 5.1em
				line-height 90px
				font-weight 400
				.big-text
					font-weight 600
		.description
			font-size 1.67em
			margin 1.8em auto 0 auto
	.property-wrapper
		display none
		background $color_brand_dark_grey
		width 100%
		padding 3em 1.5em
		margin-top 5em
		.properties
			margin 0 auto
			display flex
			justify-content space-between
			flex-wrap wrap


